breathe>=4.34
sphinx~=6.2
sphinx_rtd_theme~=1.2
sphinx-tabs
sphinx-togglebutton
sphinx_markdown_tables
sphinx-notfound-page
sphinx_tabs
sphinxcontrib-svg2pdfconverter
sphinxcontrib-mscgen>=0.6
sphinxcontrib-plantuml
sphinx-ncs-theme>=1.0.3,<1.1
pygments>=2.9
sphinx-notfound-page
sphinx-copybutton
recommonmark==0.6.0
CommonMark>=0.9.1
m2r2>=0.3.2
pygit2<=1.10
pyyaml>=5.1
myst-parser
