name: Develop

on:
  workflow_dispatch:
        
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Free up disk space
        run: |
          set -x
          # Delete unnecessary files to free up space
          # Workaround to provide additional free space for testing.
          # https://github.com/actions/runner-images/issues/2840
          df -h
          sudo apt-get remove -y '^dotnet-.*'
          sudo apt-get remove -y 'php.*'
          sudo apt-get remove -y azure-cli google-cloud-sdk google-chrome-stable firefox powershell mono-devel android-sdk
          sudo apt-get autoremove -y
          sudo apt-get clean
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "/usr/local/lib/android"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.develop
          push: true
          tags: okmo/develop:latest
          cache-from: type=registry,ref=okmo/develop:buildcache
          cache-to: type=registry,ref=okmo/develop:buildcache,mode=max